xb-cell {
    outline: 0px solid transparent;  /* disable default outline */

    white-space: pre-wrap;  /* properly display white-space */
    font-family: monospace;
    line-height: 120%;

    display: block;
    margin: 0;
    padding: 0.3em 0.5em;

    border: 1px solid #ccc;
    border-radius: 0.125em;
    background-color: #eee;
}

xb-cell[data-active] {
    border: 1px solid black;
}
