.settings-dialog .dialog-text {
    font-style: italic;
}

.settings-dialog [data-section] {
    position: relative;
    display: grid;
    grid-template-columns: min-content min-content;
    min-width: max-content;
    margin: 1.75em 0 0 0;
    padding: 1em 0.5em 0.5em;
    border: 1px solid black;
    border-radius: 8px;
    color: hsl(  0deg   0%   0% / 100%);
    background-color: hsl(  0deg   0%  95% / 100%);
}

.settings-dialog [data-section]::before {
    position: absolute;
    content: attr(data-section);
    left: 0.8em;
    top: -0.7em;
    padding: 0 1em;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: hsl(  0deg   0%   0% / 100%);
    background-color: hsl(  0deg   0%  95% / 100%);
    font-style: italic;
}

.settings-dialog [data-section] label {
    align-self: center;
    justify-self: end;
    white-space: nowrap;
    user-select: none;
}

.settings-dialog [data-section] input,
.settings-dialog [data-section] select {
    align-self: center;
    justify-self: start;
    color:            fieldtext;
    background-color: field;
    margin: 0.25em;
}

.settings-dialog [data-section] input[type="text"] {
    width: 5em;
}

.settings-dialog .warning {
    display: none;
    width: 13em;
    margin: 1.75em 0 0 1em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 8px;
    color: hsl(  0deg   0%   0% / 100%);
    background-color: hsl( 60deg  80%  50% / 100%);
}
.settings-dialog .warning p:first-child {
    margin-block-start: 0;
}
.settings-dialog .warning p:last-child {
    margin-block-end: 0;
}
.settings-dialog .show-emacs-warning .emacs-warning {
    display: block;
}

.settings-dialog input[type="submit"] {
    margin-top: 1em;
}

.settings-dialog .error-message {
    display: none;
    width: 13em;
    margin: 1.75em 0 0 1em;
    padding: 0.5em;
    border-radius: 5pt;
    background-color: hsl(  0deg  60%  50% / 100%);
    color: hsl(  0deg   0% 100% / 100%);
    height: fit-content;
}
.settings-dialog .error-message.active {
    display: block;
}
